.tableContainer{
    width: 85vw;
    height: 80%;
    border-radius: 10px;
    background-color: #1B263B;
    border: 1px whitesmoke solid;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E0E1DD;
}
td{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 20ch;
}
button{
    background-color: #E0E1DD;
}
.loading{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}